<h2>Course Info</h2>

<hr>

<form #courseForm="ngForm"> <!-- variavel de tamplete-->
  <div class="form-group row">

    <label class="col-sm-2 col-form-label">Name:</label>

    <div class="col-sm-10">                                                      <!-- classe que vamos passar // condição que vamos passar-->
      <input [(ngModel)]="course.name" required  name="name" #courseName="ngModel" [ngClass]="{'is-invalid' : courseName.invalid}" class="form-control"><!--#courseName="ngModel" -> puxar o nome filtrado-->
      <!-- {{courseName.value}}
      *valid::{{courseName.valid}}
      *invalid::{{courseName.invalid}} -->
      <div class="invalid-feedback">
        Course name is required
      </div>
    </div>

  </div>

  <div class="form-group row mt-4">
    <label class="col-sm-2 col-form-label">Price:</label>
    <div class="col-sm-10">
      <input [(ngModel)]="course.price" required  name="price" #coursePrice="ngModel" type="number" [ngClass]="{'is-invalid' : coursePrice.invalid}" class="form-control">
      <div class="invalid-feedback">
        Course price is required
      </div>
    </div>
  </div>

  <div class="form-group row mt-4">
    <label class="col-sm-2 col-form-label">Rating:</label>
    <div class="col-sm-10">
      <input [(ngModel)]="course.rating" required  name="rating" #courseRating="ngModel" type="number" [ngClass]="{'is-invalid' : courseRating.invalid}" class="form-control">
      <div class="invalid-feedback">
        Course rating is required
      </div>
    </div>
  </div>

  <div class="form-group row mt-4">
    <label class="col-sm-2 col-form-label">Description:</label>
    <div class="col-sm-10">
      <textarea [(ngModel)]="course.description" required  name="description" #courseDescription="ngModel" [ngClass]="{'is-invalid' : courseDescription.invalid}" class="form-control"></textarea>
      <div class="invalid-feedback">
        Course description is required
      </div>
    </div>
  </div>
  <div class="mt-4 d-flex justify-content-center">
    <button [disabled]=courseForm.invalid (click)="save()" class="btn btn-dark mx-4">Save</button>
    <button [routerLink]="['/courses']" class="btn btn-dark">Cancel</button>
  </div>
</form>
